a .fa-brands{
    color: rgb(57, 59, 204);
    font-size: 40px;
    margin: 0 10px;
    
}

header {
    padding-top: 6rem + 3.5rem;
    padding-bottom: 2rem;
}

.photo{
    height: 140px;
    margin: 5px;
}

.full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .contact-info {
    margin-bottom: 20px;
  }
  
  .email ,
  .phone {
    color: #999;
    font-weight: 300;
  } 
  .section {
    margin-bottom: 40px;  
  }
  
  .section:last-of-type {
    margin-bottom: 0px;  
  }
  
  .section__title {
    letter-spacing: 2px;
    color: #54AFE4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .section__list-item {
    margin-bottom: 40px;
  }
  
  .section__list-item.last-of-type {
    margin-bottom: 0;
  }
  
  .left ,
  .right {
    vertical-align: top;
    display: inline-block;
  }
  
  .left {
    width: 60%;    
  }
  
  .right {
    text-align: right;
    width: 39%;    
  }
  
  .name {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: #000;
    font-style: italic;
  }
  
  a:hover {
    text-decoration: underline;
    color: #000;
  }
  
    
  .skills__item {
    margin-bottom: 10px;  
  }
  
  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }

  .about{
      margin-bottom: 20px;
  }

  .header h2{
    margin: 10px;
    align-items: center;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control i {
    position: absolute;
    top: 50px;
    right: 20px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 14px;
}


.form-control.correcto small{
    visibility: hidden;
}

.form-control.correcto input {
    border-color: rgb(115, 182, 16);
}

.form-control.incorrecto input {
    border-color: rgb(235, 3, 3);
}

.form-control.form-control.correcto i.fa-check{
    visibility: visible;
    color: rgb(115, 182, 16);
}

.form-control.form-control.incorrecto i.fa-circle-exclamation{
    visibility: visible;
    color: rgb(235, 3, 3);
}

.form-control.incorrecto small {
    visibility: visible;
    color: rgb(235, 3, 3);
}

.form button {
    background-color: #8e44ad;
    border:  2px soild #8e44ad;
    font-size: 16px;
    color: #ffffff;
    font-family: inherit;
    padding: 10px;
    width: 50%;
}